header {
  display: flex;
  padding: 1rem;
  background-color: darkviolet;
  justify-content: center;
  min-height: 3rem;
}

.brand-link {
  flex-basis: 40%;
}

.brand-logo {
  height: 100%;
  width: 100%;
}

.header-actions {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
